<div class="container w-25 h-25">
    <div class="row">
        <h2><i class="fas fa-ad text-primary"></i> Une publicité</h2>
         <div class="mx-auto" style="width: 250px;">
            <a href="https://www.youtube.com/"><img src="../../doc/img/youtube-logo.png" alt="Logo - Youtube" class="img-fluid "></a>
        </div>
        <p class="text-center">Découvre le nouveau Youtube flambant neuf !!!</p>
       
    </div>
</div> 